@import url('https://fonts.googleapis.com/css?family=VT323');

.tv {
  margin: 0;
  padding: 0;

  @include from('tablet') {
    padding: 40px 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 900px;
  }

  .col {
    display: inline-block;
    padding: 0 20px;
  }

  &__screen {
    animation: crt 10ms infinite;
    // background-color: $melanzane;
    background-color: $cherry-pie;
    // border: 4px solid $electric-violet;
    border: 1rem solid;
    border-bottom-color: #020202;
    border-left-color: #080808;
    // border-radius: 10px;
    border-radius: 2rem;
    border-right-color: #080808;
    border-top-color: #020202;
    box-shadow: inset 0 0 18rem black, inset 0 0 3rem black, 0 0 10rem black;
    overflow: hidden;
    position: relative;
    // pointer-events: auto;
    pointer-events: none;
    text-shadow: 0rem 0.2rem 1rem $electric-violet;
    z-index: -1;


    @include from('tablet') {
      border-radius: 10px;
      display: block;
      height: 400px;
      width: 600px;
    }
  }

  &__glass {
    background: linear-gradient( to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 50%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0.6) );
    border-radius: 2rem;
    background-size: 100% 0.3rem;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__speaker {
    display: none;
    border-radius: 50%;
    border: 1px solid $electric-violet;
    height: 100px;
    width: 100px;
  }

  &__controls {
    display: none;

    @include from('desktop') {
      width: 200px;
    }
  }

  &__buttons {
    padding: 20px 0;
  }

  &__button {
    background-color: transparent;
    border: 1px solid $electric-violet;
    border-radius: 4px;
    color: $electric-violet;
    cursor: pointer;
    margin: 5px;
    outline: none;
    padding: 10px 14px;
  }

  // Channels
  &__channels {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &__channel {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &.active {
      .title,
      .subtitle {
        display: block;
      }
    }
  }

  &__text {
    color: $white;
    cursor: pointer;
    display: none;
    font-size: 60px;
    font-family: 'VT323';
    font-weight: 700;
    line-height: 1;
    margin: auto;
    position: relative;
    text-align: center;
    z-index: 1;

    &.title {
      font-size: 60px;
    }

    &.subtitle {
      font-size: 40px;
    }
  }

  &__channel--zero {
    flex-flow: column;
    justify-content: center;

    .title {
      margin: 0;

      @include content('MACHINARIA TV');
    }

    .coin {
      animation: blink 1s steps(4, start) infinite;
      color: $white;
      font-family: 'VT323';
      font-size: 40px;
      line-height: 40px;
      letter-spacing: 5px;
      text-shadow: -2px 0 0 #fdff2a,
        -4px 0 0 #df4a42,
        2px 0 0 #91fcfe,
        4px 0 0 #4405fc;
    }
  }

  &__channel--one {
    // TODO
  }

  &__channel--two {
    .title {
      @include content('HATE');
    }
  }

  &__channel--three {
    .title {
      @include content('CONTROL');
    }
  }

  &__channel--four {
    .title {
      @include content('FEAR');
    }
  }

  &__channel--five {
    .title {
      @include content('5');
    }
  }

  &__channel--six {
    .title {
      @include content('6');
    }
  }

  &__channel--seven {
    .title {
      @include content('7');
    }
  }

  &__channel--eight {
    .title {
      @include content('8');
    }
  }

  &__channel--nine {
    .title {
      @include content('9');
    }
  }
}
